Package: com.johnzaro.bluetoothbatteryinfo
Name: BluetoothBatteryInfo
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 13)
Version: 1.1
Architecture: iphoneos-arm
Description: Adds BlueTooth Battery Info Module, Dynamic Status Bar Headphones Icon
Maintainer: Johnzaro <johnzrgnns@gmail.com>
Author: Johnzaro <johnzrgnns@gmail.com>
Section: Tweaks
