<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>BBIRootHeaderView</string>
			<key>icon</key>
			<string>BBIHeader.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TAP CURRENT SHOWN DEVICE GLYPH TO CYCLE THROUGH AVAILABLE DEVICES</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>All Settings Below Except 'Dynamic Status Bar Icon' Are Updated Dynamically And Do Not Require A Respring. Enabling / Disabling The Tweak Requires A Respring.</string>
			<key>footerAlignment</key>
			<integer>1</integer>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DISPLAY OPTIONS</string>
			<key>footerText</key>
			<string>'Dynamic Status Bar Icon' Changes The Default Headphones Icon To The Icon Of The Connected Bluetooth Device In The Status Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>showOnLockScreen</string>
			<key>label</key>
			<string>Show On Lock Screen</string>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>hideInternalBattery</string>
			<key>label</key>
			<string>Hide Internal Battery</string>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>hideDeviceNameLabel</string>
			<key>label</key>
			<string>Hide Device Name Label</string>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>changeHeadphonesIcon</string>
			<key>label</key>
			<string>Dynamic Status Bar Icon</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PORTRAIT POSITION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>165</string>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>portraitX</string>
			<key>label</key>
			<string>Portrait X</string>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>32</string>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>portraitY</string>
			<key>label</key>
			<string>Portrait Y</string>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LANDSCAPE POSITION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>750</string>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>landscapeX</string>
			<key>label</key>
			<string>Landscape X</string>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>2</string>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>landscapeY</string>
			<key>label</key>
			<string>Landscape Y</string>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>followDeviceOrientation</string>
			<key>label</key>
			<string>Follow Device Orientation</string>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Glyph Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>glyphSize</string>
			<key>validTitles</key>
			<array>
      			<string>16px</string>
      			<string>20px</string>
      			<string>24px</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>16</string>
      			<string>20</string>
      			<string>24</string>
			</array>
			<key>staticTextMessage</key>
			<string>Glyph Size</string>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Percentage Label</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>10</real>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>percentageFontSize</string>
			<key>label</key>
			<string>Font: %i</string>
			<key>singularLabel</key>
			<string>Font: 1</string>
			<key>max</key>
			<real>15</real>
			<key>min</key>
			<real>5</real>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>percentageFontBold</string>
			<key>label</key>
			<string>Bold</string>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Device Name Label</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>8</real>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>nameFontSize</string>
			<key>label</key>
			<string>Font: %i</string>
			<key>singularLabel</key>
			<string>Font: 1</string>
			<key>max</key>
			<real>10</real>
			<key>min</key>
			<real>5</real>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>nameFontBold</string>
			<key>label</key>
			<string>Bold</string>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BLACKLISTED APPS</string>
			<key>footerText</key>
			<string>SWITCH OFF AND THEN ON AGAIN THE 'BLACK LIST APPS' SWITCH FOR THE NEW SELECTED APP TO BE SET CORRECTLY</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs</string>
			<key>key</key>
			<string>enableBlackListedApps</string>
			<key>label</key>
			<string>Black List Apps</string>
			<key>PostNotification</key>
			<string>com.johnzaro.bluetoothbatteryinfoprefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select Black Listed Apps</string>
			<key>action</key>
			<string>selectBlackListedApps</string>
   	 	</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WHEN RESETING, RESPRING WILL OCCUR</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset All Settings</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT THIS TWEAK</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
   	 		<string>https://github.com/johnzaro/BluetoothBatteryInfo</string>
		</dict>
 		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
			<key>footerText</key>
			<string>© 2020 John Zarogiannis (johnzaro)</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>John Zarogiannis</string>
            <key>user</key>
            <string>johnzaro</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Email Me</string>
            <key>action</key>
            <string>email</string>
            <key>icon</key>
            <string>email.png</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Check me on Reddit</string>
            <key>action</key>
            <string>reddit</string>
            <key>icon</key>
            <string>reddit.png</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Like my work? Buy me a coffee :)</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>url</key>
   	 		<string>https://paypal.me/JohnZarogiannis</string>
        </dict>
	</array>
	<key>title</key>
	<string>BluetoothBatteryInfo</string>
</dict>
</plist>
